@font-face {
    font-family: Fuego Fatuo;
    src: url("/resources/fonts/Fuego Fatuo.ttf");
}

body {
    background-image: url("/resources/images/bottomWeb.png");
    margin: 0;
    padding: 0;
}

/* Containers*/

.view-container {
    display: grid;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.beginning-container,
.login-container,
.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    grid-column: 4/6;
    grid-row: 1/6;
    justify-content: left;
}

header {
    display: flex;
    width: 100%;
}

.fire-logo {
    filter: drop-shadow(5px 5px 4px #000);
    height: 177px;
    margin: 10% 0% 0% 5%;
    margin-left: 25%;
    width: 167px;
}

.propagar-img {
    filter: drop-shadow(5px 5px 4px #000);
    height: 110px;
    margin: 5% 0% 0% 0%;
    margin-left: 22%;
    width: 610px;
}

.title {
    color: #000;
    filter: drop-shadow(5px 5px 4px #000);
    font-family: arial;
    font-size: 30px;
    font-style: bold;
    margin: 5% 0% 0% 0%;
    margin-left: 22%;
    width: 500px;
}

/* View beginnig*/

#login {
    display: flex;
    flex-direction: column;
    background-color: #d8f1eb;
    border-radius: 20px;
    box-shadow: 0px 4px 4px 0px #00000040;
    color: #4b6863;
    font-family: arial;
    font-size: 25px;
    font-style: bold;
    height: 55px;
    margin-left: 20px;
    margin-top: 190px;
    padding: 10px;
    text-align: center;
    width: 220px;
}

#register {
    display: flex;
    flex-direction: column;
    font-family: arial;
    background-color: #4b6863;
    border-radius: 20px;
    box-shadow: 0px 4px 4px 0px #00000040;
    color: #d8f1eb;
    font-size: 25px;
    font-style: bold;
    height: 55px;
    margin-left: 20px;
    margin-top: 35px;
    padding: 10px;
    text-align: center;
    width: 220px;
}

.btn-login,
.btn-register {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 100px;
}

.hr-beginning-center {
    background-color: #d8f1eb;
    box-shadow: 0 0 7px #000;
    border: none;
    height: 2px;
    margin-left: 253%;
    margin-top: 370px;
    width: 320px;
}

.subtitle {
    display: flex;
    color: #d8f1eb;
    filter: drop-shadow(5px 5px 4px #000);
    font-family: arial;
    font-size: 30px;
    font-style: bold;
    margin: 132% 0% 0% 0%;
    margin-left: 175%;
    width: 100%;
}

.google-logo {
    filter: drop-shadow(5px 5px 4px #000);
    height: 80px;
    margin: 10% 0% 0% 5%;
    margin-left: 550px;
    width: 80px;
}

/* View login*/

#emailLogin {
    display: flex;
    flex-direction: column;
    background-color: #4b6863;
    border-radius: 20px;
    box-shadow: 0px 4px 4px 0px #00000040;
    color: #d8f1eb;
    font-family: arial;
    font-size: 25px;
    font-style: bold;
    height: 35px;
    margin-left: 20px;
    margin-top: 200px;
    padding: 10px;
    text-align: center;
    width: 220px;
}

#passwordLogin {
    display: flex;
    flex-direction: column;
    background-color: #d8f1eb;
    border-radius: 20px;
    box-shadow: 0px 4px 4px 0px #00000040;
    color: #4b6863;
    font-family: arial;
    font-size: 25px;
    font-style: bold;
    height: 35px;
    margin-left: 20px;
    margin-top: 40px;
    padding: 10px;
    text-align: center;
    width: 220px;
}

#btnLogin {
    display: flex;
    flex-direction: column;
    background-color: #f2893c;
    border-radius: 20px;
    box-shadow: 0px 4px 4px 0px #00000040;
    color: #d8f1eb;
    font-family: arial;
    font-size: 25px;
    font-style: bold;
    height: 55px;
    margin-left: 22px;
    margin-top: 40px;
    padding: 10px;
    text-align: center;
    width: 180px;
}

/* View register*/

#nameRegister {
    display: flex;
    flex-direction: column;
    background-color: #d8f1eb;
    border-radius: 20px;
    box-shadow: 0px 4px 4px 0px #00000040;
    color: #4b6863;
    font-family: arial;
    font-size: 25px;
    font-style: bold;
    height: 35px;
    margin-left: 20px;
    margin-top: 200px;
    padding: 10px;
    text-align: center;
    width: 220px;
}

#emailRegister {
    display: flex;
    flex-direction: column;
    background-color: #4b6863;
    border-radius: 20px;
    box-shadow: 0px 4px 4px 0px #00000040;
    color: #d8f1eb;
    font-family: arial;
    font-size: 25px;
    font-style: bold;
    height: 35px;
    margin-left: 20px;
    margin-top: 40px;
    padding: 10px;
    text-align: center;
    width: 220px;
}

#passwordRegister {
    display: flex;
    flex-direction: column;
    background-color: #d8f1eb;
    border-radius: 20px;
    box-shadow: 0px 4px 4px 0px #00000040;
    color: #4b6863;
    font-family: arial;
    font-size: 25px;
    font-style: bold;
    height: 35px;
    margin-left: 20px;
    margin-top: 40px;
    padding: 10px;
    text-align: center;
    width: 220px;
}

#btnRegister {
    display: flex;
    flex-direction: column;
    background-color: #f2893c;
    border-radius: 20px;
    box-shadow: 0px 4px 4px 0px #00000040;
    color: #d8f1eb;
    font-family: arial;
    font-size: 25px;
    font-style: bold;
    height: 55px;
    margin-left: 20px;
    margin-top: 40px;
    padding: 10px;
    text-align: center;
    width: 180px;
}

/* View home */

.header-container {
    display: flex;
    background-color: #4f5755;
    filter: drop-shadow(5px 5px 4px #000);
    height: 110px;
    width: 100%;
}

.home-fireLogo {
    display: flex;
    filter: drop-shadow(5px 5px 4px #000);
    height: 80px;
    margin: 1% 0% 0% 1%;
    margin-left: 3%;
    width: 70px;
}

.home-imgPropagar {
    display: flex;
    filter: drop-shadow(5px 5px 4px #000);
    height: 80px;
    margin: 1% 0% 0% 1%;
    margin-left: 1%;
    width: 450px;
}

.log-out {
    display: flex;
    filter: drop-shadow(5px 5px 4px #000);
    height: 70px;
    margin: 1.5% 0% 0% 1%;
    margin-left: 53%;
    width: 60px;
}

.parent-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}

#postUsuario {
    justify-content: center;
    background-color: #ffff;
    border-radius: 2% 2% 2% 2%;
    height: 200px;
    width: 700px;
    text-align: center;
    font-size: 15px;
    filter: drop-shadow(5px 5px 4px #000);
    padding: 50px;
}

#btnPost {
    display: flex;
    flex-direction: column;
    background-color: #f2893c;
    border-radius: 20px;
    box-shadow: 0px 4px 4px 0px #00000040;
    color: #d8f1eb;
    font-family: arial;
    font-size: 25px;
    font-style: normal;
    padding: 10px;
    height: 55px;
    margin-left: 20px;
    margin-top: 20px;
    text-align: center;
    width: 220px;
}

.hr-home-center {
    background-color: #d8f1eb;
    border: none;
    box-shadow: 0 0 7px #000;
    height: 2px;
    margin-left: 2%;
    margin-top: 50px;
    width: 100pz;
}

/*view post*/

.elements-user {
    display: flex;
    background-color: #f9c647;
    border-radius: 10px 10px 0px 0px;
    filter: drop-shadow(5px 5px 4px #000);
    height: 60px;
    margin-top: 40px;
    text-align: center;
    width: 800px;
}

#photoUser {
    margin-top: 7px;
    margin-left: 10px;
    border-radius: 50% 50% 50% 50%;
    filter: drop-shadow(5px 5px 4px #000);
    height: 40px;
}

#userName {
    color: #4b6863;
    filter: drop-shadow(0px 4px 4px 0px #00000040);
    font-family: arial;
    font-size: 25px;
    font-style: bold;
    margin-left: 15px;
    margin-top: 15px;
}

#postUser {
    background-color: #ffff;
    border-radius: 0% 0% 2% 2%;
    height: 100px;
    width: 756px;
    text-align: center;
    font-size: 15px;
    filter: drop-shadow(5px 5px 4px #000);
    padding: 20px;
}

.btn-delete {
    background-color: #f2893c;
    background-size: 100px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px #00000040;
    margin-left: 30px;
    margin-top: 20px;
}

.img-dustman {
    height: 40px;
    padding: 5px;
    width: 40px;
}

/*Scrollbar*/

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background: #ffff;
    border-radius: 50px;
    border: solid #000000;
}

::-webkit-scrollbar-thumb {
    background: #f2893c;
    border-radius: 20px;
    border: 3px solid #000000;
}

/* /* Media query*/

/* @media screen and (max-width:630px){

    body{
        background-image: url("/resources/images/bottomWeb.png");
    }

    .fire-logo {
        filter: drop-shadow(5px 5px 4px #000);
        height: 47px;
        margin-top: 12px;
        margin-left: 130px;
        width: 37px;
    }

    .propagar-img {
        filter: drop-shadow(5px 5px 4px #000);
        height: 40px;
        margin-top: 1px;
        margin-left: 16%;
        width: 240px;
    }

    .title {
        display: none;
    }

    .beginning-container {
        margin-top: 0px;
        margin-left: -240px;
    }

    #login {
        margin-top: 130px;
        margin-left: 45px;
        height: 50px;
        width: 210px;
        font-size: 20px;
    }

    #register {
        margin-top: 15px;
        margin-left: 45px;
        height: 50px;
        width: 210px;
        font-size: 20px;
    }

    .hr-beginning-center {
        margin-top: 270px;
        margin-left: 15px;
        width: 160px;
    }

    .subtitle{
        margin-top: 280px;
        margin-left: -10px;
        font-size: 15px;
    }
    }

 */



/* @media screen and (min-width: 320px)and (max-width:667px) {
    /*tamaño pantalla

    .view-container {
        display: none;
    }

    .images-container {
        display: none;
    }

    /*     .fire-logo {
        height: 47px;
        margin-top: 5%;
        margin-left: 50%;
        width: 37px;
    }

    .propagar-img {
        filter: drop-shadow(5px 5px 4px #000);
        height: 24px;
        margin-top: 2%;
        margin-left: 13%;
        width: 160px;
    }

    .title {
        display: none;
    }
   
    .beginning-container {
        
        width: 1000vw;
     
        
        left: 0;
        top:0;     
    } */

/* ------------------mobile --------------------
@media screen and (min-width: 320px) and (max-width: 488px) {

    .view-container {
        margin: 0;
        padding: 0;
        height: 100vh;
        background: #003933;
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
        grid-template-rows: 20% 20% 20% 20% 20%;
    }

    .beginning-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background: #003933;
        margin-top:50%;
    }

    .subcontainer {
        display: none;
    }

    -----------Inicio y registro-------------
    .images-container,
    .title-container {
        display: none;
    }


    #login {
        margin-top: 0%;
        margin-left: 0px;
        height: 50px;
        width: 210px;
        font-size: 20px;
        
    }

    #register {
        margin-top: 0%;
        margin-left: 0px;
        height: 50px;
        width: 210px;
        font-size: 20px;
    }

    .hr-beginning-center {
        margin-top: 10px;
        margin-left: 15px;
        width: 160px;
    } */
